<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> About || delogis || delogis HTML 5 Template </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="../static/images/favicons/site.webmanifest" />
    <meta name="description" content="delogis HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="../static/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="../static/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../static/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="../static/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="../static/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="../static/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="../static/vendors/delogis-icons/style.css">
    <link rel="stylesheet" href="../static/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="../static/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/vendors/alagambe-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../static/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="../static/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../static/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="../static/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="../static/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="../static/css/delogis.css" />
    <link rel="stylesheet" href="../static/css/delogis-responsive.css" />
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
         {% include 'base_nav.html' %}

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->


        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(../static/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>About</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>/</span></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--About Four Start-->
        <section class="about-four">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-5">
                        <div class="about-four__left">
                            <div class="about-four__img">
                                <img src="../static/images/resources/about-four-img-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="about-four__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">get to know us</span>
                                <h2 class="section-title__title">SoulHarbor
                                    </h2>
                            </div>
                            <p class="about-four__text">Welcome to our website, a web application dedicated to
                                strategically integrate innovative Machine Learning Augmented Services to revolutionize
                                mental health support.</p>
                            <p class="about-four__text">By facilitating communication and mutual support, our platform
                                aims to break down barriers and provide a safe haven for those seeking emotional expression,
                                interaction and comprehensive mental health services.</p>
                            <p class="about-four__text">If you don't have access to proper counseling for any reason
                                or are looking for a place to vent your feelings, you can conduct a self-assessment
                                and mental health check through voice interaction on our website. In addition,
                                behavioral analysis and personalized interventions based on natural language
                                processing (NLP) can provide you with exclusive content.</p>
                            <ul class="list-unstyled about-four__points">
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Innovative machine learning technology.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Open platform.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Anonymous "Tree Hole" function</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>"Digital Man" feedback</p>
                                    </div>
                                </li>
                            </ul>

                            <div class="about-four__btn-box">
                                <a href="make-appointment.html" class="thm-btn about-four__btn">Make an Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Four End-->

        <!--Why Choose One Start-->
        <section class="why-choose-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="why-choose-one__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Our benefits</span>
                                <h2 class="section-title__title">Why <span>Choose</span>
                                    <br> Psycology
                                    Center?</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="why-choose-one__right">
                            <ul class="why-choose-one__list list-unstyled">
                                <li>
                                    <div class="why-choose-one__single">
                                        <div class="icon">
                                            <span class="icon-psychologist"></span>
                                        </div>
                                        <div class="title">
                                            <h3><a href="about.html">Professional
                                                    <br> Psychologists</a></h3>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="why-choose-one__single">
                                        <div class="icon">
                                            <span class="icon-online-business"></span>
                                        </div>
                                        <div class="title">
                                            <h3><a href="about.html">Online
                                                    <br> Counseling</a></h3>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="why-choose-one__single">
                                        <div class="icon">
                                            <span class="icon-rating"></span>
                                        </div>
                                        <div class="title">
                                            <h3><a href="about.html">Happy
                                                    <br> Customers</a></h3>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Why Choose One End-->



        <!--Team One Start-->
        <section class="team-one">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">see expert people</span>
                    <h2 class="section-title__title">Developers</h2>
                </div>
                <div class="row">
                    <!--Team One Single Start-->
                    <div  data-wow-delay="100ms" style="width: 20%;">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="../static/images/about/lty.png" alt="" style="height: 250px">
                                </div>
                                <div class="team-one__shape-1"></div>
                                <div class="team-one__name-box">
                                    <h3><a href="team-details.html"><span style="font-size: 13px">Liu <br> Tianyi</span>
                                        </a></h3>
                                </div>
                                <div class="team-one__sub-title-and-share-btn">
                                    <div class="team-one__sub-title">
                                        <p>Project Evaluator</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                   <div  data-wow-delay="100ms" style="width: 20%;">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="../static/images/about/sq.png" alt="" style="height: 250px">
                                </div>
                                <div class="team-one__shape-1"></div>
                                <div class="team-one__name-box">
                                    <h3><a href="team-details.html"><span>Sun Qi</span>
                                            </a></h3>
                                </div>
                                <div class="team-one__sub-title-and-share-btn">
                                    <div class="team-one__sub-title">
                                        <p>Project Facilitator</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <div  data-wow-delay="100ms" style="width: 20%;">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="../static/images/about/zjh.png" alt="" style="height: 250px">
                                </div>
                                <div class="team-one__shape-1"></div>
                                <div class="team-one__name-box">
                                    <h3><a href="team-details.html"><span style="font-size: 13px">Zhang<br> Jiahe</span>
                                            </a></h3>
                                </div>
                                <div class="team-one__sub-title-and-share-btn">
                                    <div class="team-one__sub-title">
                                        <p>Project Coordinator
</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                   <div  data-wow-delay="100ms" style="width: 20%;">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="../static/images/about/zjh.png" alt="" style="height: 250px">
                                </div>
                                <div class="team-one__shape-1"></div>
                                <div class="team-one__name-box">
                                    <h3><a href="team-details.html"><span style="font-size: 13px">Xiao <br>Zhiyou</span>
                                            </a></h3>
                                </div>
                                <div class="team-one__sub-title-and-share-btn">
                                    <div class="team-one__sub-title">
                                        <p>Project Evaluator</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <div  data-wow-delay="100ms" style="width: 20%;">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="../static/images/about/zjh.png" alt="" style="height: 250px">
                                </div>
                                <div class="team-one__shape-1"></div>
                                <div class="team-one__name-box">
                                    <h3><a href="team-details.html"><span style="font-size: 13px">Huang<br> Feihe</span>
                                            </a></h3>
                                </div>
                                <div class="team-one__sub-title-and-share-btn">
                                    <div class="team-one__sub-title">
                                        <p>Testing Engineer</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                </div>
            </div>
        </section>
        <!--Team One End-->

       {% include 'base_footer.html' %}


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="../static/images/resources/logo-2.png" width="135"
                                                                  alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@delogis.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-up-arrow"></i></a>


    <script src="../static/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="../static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendors/jarallax/jarallax.min.js"></script>
    <script src="../static/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="../static/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="../static/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="../static/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../static/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="../static/vendors/nouislider/nouislider.min.js"></script>
    <script src="../static/vendors/odometer/odometer.min.js"></script>
    <script src="../static/vendors/swiper/swiper.min.js"></script>
    <script src="../static/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="../static/vendors/wnumb/wNumb.min.js"></script>
    <script src="../static/vendors/wow/wow.js"></script>
    <script src="../static/vendors/isotope/isotope.js"></script>
    <script src="../static/vendors/countdown/countdown.min.js"></script>
    <script src="../static/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../static/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="../static/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="../static/vendors/vegas/vegas.min.js"></script>
    <script src="../static/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="../static/vendors/timepicker/timePicker.js"></script>
    <script src="../static/vendors/circleType/jquery.circleType.js"></script>
    <script src="../static/vendors/circleType/jquery.lettering.min.js"></script>




    <!-- template js -->
    <script src="../static/js/delogis.js"></script>
</body>

</html>