<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Tree hole AI analysis </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="../static/images/favicons/site.webmanifest" />
    <meta name="description" content="delogis HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="../static/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="../static/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../static/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="../static/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="../static/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="../static/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="../static/vendors/delogis-icons/style.css">
    <link rel="stylesheet" href="../static/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="../static/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/vendors/alagambe-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../static/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="../static/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../static/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="../static/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="../static/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="../static/css/delogis.css" />
    <link rel="stylesheet" href="../static/css/delogis-responsive.css" />
    <link rel="stylesheet" href="../static/emotion-animating/style.css" />
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
    <br>
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        {% include 'base_nav.html' %}


        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->


        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(../static/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Emotion Analysis</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="{{url_for('main.index')}}">Home</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Team Details Start-->
        <section class="team-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="team-details__left" id="emotion-faces">

                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <div class="team-details__right">
                            <h3 class="team-details__title">
                                <span id="Tree-hole-AI-response-emotion"> Peaceful and stable mood </span>
                            </h3>
                            <p class="team-details__text" id="Tree-hole-AI-response-text">
                                Neutral emotions can be likened to a tranquil oasis amidst life's storms, offering a respite from intense highs and lows. In this state, one can find clarity and objectivity, facilitating rational thinking and thoughtful consideration of situations. It's a state of equilibrium where one can observe without being swayed by strong emotions, fostering a sense of inner peace and stability.
                            </p>
                            <div class="team-details__points-box">
                                <h3 class="team-details__points-title">
                                    <span id="Tree-hole-AI-famous-saying">"True happiness is to enjoy the present, without anxious dependence upon the future, not to amuse ourselves with either hopes or fears but to rest satisfied with what we have, which is sufficient, for he that is so wants nothing. The greatest blessings of mankind are within us and within our reach. A wise man is content with his lot, whatever it may be, without wishing for what he has not." -- Stoic philosopher Seneca </span>
                                </h3>
                            </div>
                            <div class="team-details__btn-box">
                                <a href="{{url_for('main.services')}}" class="team-details__btn thm-btn">Back To Tree</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-details__bottom">
                    <p class="blog-details__tags">
                        <span>Recommendations</span>
                    </p>
                </div>

                <!-- recommendation -->
                <div class="row">
                    {% for recommendation in recommendations %}
                        <div class="col-lg-6">

                            <div class="blog-details__pagenation-left">
                                <div class="blog-details__pagenation-left-item">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="blog-details__pagenation-left-img">
                                                <img src="{{ recommendation.cover_url }}"
                                                     style="width: 100px;  height: 100px;" alt="img">
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="blog-details__pagenation-left-content">
                                                <p class="blog-details__pagenation-left-date"><i
                                                        class="fas fa-clock"></i> {{ recommendation.timestamp }}
                                                </p>
                                                <h4 class="blog-details__pagenation-left-title"><a
                                                        href="{{ url_for('main.blogdetails', id=recommendation.id) }}">{{ recommendation.title }}</a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--Team Details End-->

        <!--Certificate One Start-->

        <!--Certificate One End-->

        <!--Experience One start-->

        <!--Experience One End-->

        <!--Contact Three Start-->

        <!--Contact Three End-->


        <!--Site Footer Start-->
        {% include 'base_footer.html' %}
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="../static/images/resources/logo-2.png" width="135"
                                                                  alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@delogis.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-up-arrow"></i></a>


    <script src="../static/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="../static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendors/jarallax/jarallax.min.js"></script>
    <script src="../static/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="../static/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="../static/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="../static/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../static/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="../static/vendors/nouislider/nouislider.min.js"></script>
    <script src="../static/vendors/odometer/odometer.min.js"></script>
    <script src="../static/vendors/swiper/swiper.min.js"></script>
    <script src="../static/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="../static/vendors/wnumb/wNumb.min.js"></script>
    <script src="../static/vendors/wow/wow.js"></script>
    <script src="../static/vendors/isotope/isotope.js"></script>
    <script src="../static/vendors/countdown/countdown.min.js"></script>
    <script src="../static/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../static/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="../static/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="../static/vendors/vegas/vegas.min.js"></script>
    <script src="../static/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="../static/vendors/timepicker/timePicker.js"></script>
    <script src="../static/vendors/circleType/jquery.circleType.js"></script>
    <script src="../static/vendors/circleType/jquery.lettering.min.js"></script>




    <!-- template js -->
    <script src="../static/js/delogis.js"></script>
    <div id="emotionLabel" data-label="{{ emotion_label }}"></div>
    <script src="../static/js/emotion_analysis_text_response.js"></script>
</body>

</html>