

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="../static/images/favicons/site.webmanifest" />
    <meta name="description" content="delogis HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="../static/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="../static/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../static/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="../static/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="../static/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="../static/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="../static/vendors/delogis-icons/style.css">
    <link rel="stylesheet" href="../static/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="../static/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/vendors/alagambe-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../static/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="../static/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../static/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="../static/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="../static/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="../static/css/delogis.css" />
    <link rel="stylesheet" href="../static/css/delogis-responsive.css" />
</head>

 <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer__shape-1 float-bob-y">
                <img src="../static/images/shapes/site-footer-shape-1.png" alt="">
            </div>
            <div class="container">
                <div class="site-footer__middle">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget__about">
                                <div class="footer-widget__logo">
                                    <a href="index.html"><img src="../static/images/resources/logo-2.png" alt=""></a>
                                </div>
                                <p class="footer-widget__about-text">The best companion to assist you in maintaining mental health.</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__link">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Explore</h3>
                                </div>
                                <ul class="footer-widget__link-list list-unstyled">
                                    <li><a href="{{url_for('main.about')}}">About</a></li>
                                    <li><a href="{{url_for('main.team')}}">Book Appointment</a></li>
                                    <li><a href="{{url_for('main.blogsidebar')}}">Latest News/Blogs</a></li>
                                    <li><a href="{{url_for('main.team')}}">Our Experts</a></li>
                                    <li><a href="{{url_for('main.faq')}}">Faqs</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__Contact">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Contact</h3>
                                </div>
                                <ul class="footer-widget__Contact-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-map-marker"></span>
                                        </div>
                                        <div class="text">
                                            <span>Visit Office</span>
                                            <p>Beijing University of Technology</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                        <div class="text">
                                            <span>Send Email</span>
                                            <p><a >assistance@ucdService.com</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-phone-square"></span>
                                        </div>
                                        <div class="text">
                                            <span>Call Anytime</span>
                                            <p><a href="tel:+86001100100">+86 001100100</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__column footer-widget__newsletter">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Start</h3>
                                </div>
                                <p class="footer-widget__newsletter-text">Login to Enjoy a Better Life
                                </p>
                                    <a href="{{url_for('main.login')}}"><button type="submit" class="footer-widget__subscribe-btn thm-btn">Login</button></a>
                                    <br>
                                    <br>
                                    <a href="{{url_for('main.login')}}"><button type="submit" class="footer-widget__subscribe-btn thm-btn">Register
                                        Yourself</button></a>
                                <div class="mc-form__response"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-footer__bottom-inner">
                                <p class="site-footer__bottom-text">© Copyright Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


