

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="../static/images/favicons/site.webmanifest" />
    <meta name="description" content="delogis HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="../static/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="../static/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../static/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="../static/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="../static/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="../static/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="../static/vendors/delogis-icons/style.css">
    <link rel="stylesheet" href="../static/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="../static/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/vendors/alagambe-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../static/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="../static/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../static/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="../static/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="../static/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="../static/css/delogis.css" />
    <link rel="stylesheet" href="../static/css/delogis-responsive.css" />
</head>

<body class="custom-cursor">

    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">

        <header class="main-header">
            <nav class="main-menu">
                <div class="main-menu__wrapper">
                    <div class="main-menu__wrapper-inner">
                        <div class="main-menu__logo">
                            <a href="index.html"><img src="../static/images/resources/logo-1.png" alt=""></a>
                        </div>
                        <div class="main-menu__btn-box">
                            <a href="make-appointment.html">Make an Appointment</a>
                        </div>
                        <div class="main-menu__wrapper-inner-content">
                            <div class="main-menu__top">
                                <div class="main-menu__top-inner">
                                    <div class="main-menu__top-left">
                                        <ul class="list-unstyled main-menu__contact-list">
                                            <li>
                                                <div class="icon">
                                                    <i class="fas fa-clock"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Mon to Fri: 9:00am to 6:00pm</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                                <div class="text">
                                                    <p><a href="mailto:help@company.com">assistance@ucdService.com</a>
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fas fa-map-marker"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Beijing University of Technology</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled main-menu__top-menu">
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="faq.html">Faqs</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                    <div class="main-menu__top-right">
                                        <div class="main-menu__social">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-facebook"></i></a>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-menu__bottom">
                                <div class="main-menu__bottom-inner">
                                    <div class="main-menu__main-menu-box">
                                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                        <ul class="main-menu__list">
                                            <li class="dropdown current megamenu">
                                                <a href="index.html">Home </a>
                                            </li>
                                            <li class="dropdown">

                                                <a href="#">Experts</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Blog</a>
                                                <ul class="sub-menu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Emotional Vent Tree</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">More</a>
                                                <ul class="sub-menu">
                                                    <li><a href="products.html">About</a></li>
                                                    <li><a href="product-details.html">Faqs</a></li>
                                                </ul>
                                            </li>
                                             <li class="dropdown">
                                                <a href="/register">Login/Register</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="main-menu__right">
                                        <div class="main-menu__call">
                                            <div class="main-menu__call-icon">
                                                <span class="icon-phone-call"></span>
                                            </div>
                                            <div class="main-menu__call-content">
                                                <p class="main-menu__call-sub-title">Have Question?</p>
                                                <h5 class="main-menu__call-number"><a href="tel:001100100">+86 001100100</a>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="main-menu__search-cart-box">
                                            <div class="main-menu__search-box">
                                                <a href="#"
                                                    class="main-menu__search search-toggler icon-magnifying-glass"></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

    <script src="../static/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="../static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendors/jarallax/jarallax.min.js"></script>
    <script src="../static/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="../static/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="../static/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="../static/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../static/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="../static/vendors/nouislider/nouislider.min.js"></script>
    <script src="../static/vendors/odometer/odometer.min.js"></script>
    <script src="../static/vendors/swiper/swiper.min.js"></script>
    <script src="../static/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="../static/vendors/wnumb/wNumb.min.js"></script>
    <script src="../static/vendors/wow/wow.js"></script>
    <script src="../static/vendors/isotope/isotope.js"></script>
    <script src="../static/vendors/countdown/countdown.min.js"></script>
    <script src="../static/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../static/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="../static/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="../static/vendors/vegas/vegas.min.js"></script>
    <script src="../static/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="../static/vendors/timepicker/timePicker.js"></script>
    <script src="../static/vendors/circleType/jquery.circleType.js"></script>
    <script src="../static/vendors/circleType/jquery.lettering.min.js"></script>




    <!-- template js -->
    <script src="../static/js/delogis.js"></script>
    </div>