<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Family Psycology || delogis || delogis HTML 5 Template </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="../static/images/favicons/site.webmanifest" />
    <meta name="description" content="delogis HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="../static/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="../static/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../static/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="../static/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="../static/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="../static/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="../static/vendors/delogis-icons/style.css">
    <link rel="stylesheet" href="../static/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="../static/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/vendors/alagambe-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../static/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="../static/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../static/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="../static/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="../static/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="../static/css/delogis.css" />
    <link rel="stylesheet" href="../static/css/delogis-responsive.css" />
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        <header class="main-header">
            <nav class="main-menu">
                <div class="main-menu__wrapper">
                    <div class="main-menu__wrapper-inner">
                        <div class="main-menu__logo">
                            <a href="index.html"><img src="../static/images/resources/logo-1.png" alt=""></a>
                        </div>
                        <div class="main-menu__btn-box">
                            <a href="make-appointment.html">Make an Appointment</a>
                        </div>
                        <div class="main-menu__wrapper-inner-content">
                            <div class="main-menu__top">
                                <div class="main-menu__top-inner">
                                    <div class="main-menu__top-left">
                                        <ul class="list-unstyled main-menu__contact-list">
                                            <li>
                                                <div class="icon">
                                                    <i class="fas fa-clock"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Mon to Fri: 9:00am to 6:00pm</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                                <div class="text">
                                                    <p><a href="mailto:help@company.com">help@company.com</a>
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fas fa-map-marker"></i>
                                                </div>
                                                <div class="text">
                                                    <p>88 Broklyn Golden Street. New York</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled main-menu__top-menu">
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="faq.html">Faqs</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                    <div class="main-menu__top-right">
                                        <div class="main-menu__social">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-facebook"></i></a>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-menu__bottom">
                                <div class="main-menu__bottom-inner">
                                    <div class="main-menu__main-menu-box">
                                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                        <ul class="main-menu__list">
                                            <li class="dropdown megamenu">
                                                <a href="index.html">Home </a>
                                                <ul>
                                                    <li>
                                                        <section class="home-showcase">
                                                            <div class="container">
                                                                <div class="home-showcase__inner">
                                                                    <div class="row">
                                                                        <div class="col-lg-3">
                                                                            <div class="home-showcase__item">
                                                                                <div class="home-showcase__image">
                                                                                    <img src="../static/images/home-showcase/home-showcase-1-1.jpg"
                                                                                        alt="">
                                                                                    <div class="home-showcase__buttons">
                                                                                        <a href="index.html"
                                                                                            class="thm-btn home-showcase__buttons__item">Multi
                                                                                            Page</a>
                                                                                        <a href="index-one-page.html"
                                                                                            class="thm-btn home-showcase__buttons__item">One
                                                                                            Page</a>
                                                                                    </div>
                                                                                    <!-- /.home-showcase__buttons -->
                                                                                </div><!-- /.home-showcase__image -->
                                                                                <h3 class="home-showcase__title">Home
                                                                                    Page
                                                                                    01</h3>
                                                                                <!-- /.home-showcase__title -->
                                                                            </div><!-- /.home-showcase__item -->
                                                                        </div><!-- /.col-lg-3 -->
                                                                        <div class="col-lg-3">
                                                                            <div class="home-showcase__item">
                                                                                <div class="home-showcase__image">
                                                                                    <img src="../static/images/home-showcase/home-showcase-1-2.jpg"
                                                                                        alt="">
                                                                                    <div class="home-showcase__buttons">
                                                                                        <a href="index2.html"
                                                                                            class="thm-btn home-showcase__buttons__item">Multi
                                                                                            Page</a>
                                                                                        <a href="index2-one-page.html"
                                                                                            class="thm-btn home-showcase__buttons__item">One
                                                                                            Page</a>
                                                                                    </div>
                                                                                    <!-- /.home-showcase__buttons -->
                                                                                </div><!-- /.home-showcase__image -->
                                                                                <h3 class="home-showcase__title">Home
                                                                                    Page
                                                                                    02
                                                                                </h3><!-- /.home-showcase__title -->
                                                                            </div><!-- /.home-showcase__item -->
                                                                        </div><!-- /.col-lg-3 -->
                                                                        <div class="col-lg-3">
                                                                            <div class="home-showcase__item">
                                                                                <div class="home-showcase__image">
                                                                                    <img src="../static/images/home-showcase/home-showcase-1-3.jpg"
                                                                                        alt="">
                                                                                    <div class="home-showcase__buttons">
                                                                                        <a href="index3.html"
                                                                                            class="thm-btn home-showcase__buttons__item">Multi
                                                                                            Page</a>
                                                                                        <a href="index3-one-page.html"
                                                                                            class="thm-btn home-showcase__buttons__item">One
                                                                                            Page</a>
                                                                                    </div>
                                                                                    <!-- /.home-showcase__buttons -->
                                                                                </div><!-- /.home-showcase__image -->
                                                                                <h3 class="home-showcase__title">Home
                                                                                    Page
                                                                                    03
                                                                                </h3><!-- /.home-showcase__title -->
                                                                            </div><!-- /.home-showcase__item -->
                                                                        </div><!-- /.col-lg-3 -->
                                                                        <div class="col-lg-3">
                                                                            <div class="home-showcase__item">
                                                                                <div class="home-showcase__image">
                                                                                    <img src="../static/images/home-showcase/home-showcase-1-4.jpg"
                                                                                        alt="">
                                                                                    <div class="home-showcase__buttons">
                                                                                        <a href="index-dark.html"
                                                                                            class="thm-btn home-showcase__buttons__item">View
                                                                                            Page</a>
                                                                                    </div>
                                                                                    <!-- /.home-showcase__buttons -->
                                                                                </div><!-- /.home-showcase__image -->
                                                                                <h3 class="home-showcase__title">Home
                                                                                    Page
                                                                                    04
                                                                                </h3><!-- /.home-showcase__title -->
                                                                            </div><!-- /.home-showcase__item -->
                                                                        </div><!-- /.col-lg-3 -->
                                                                    </div><!-- /.row -->
                                                                </div><!-- /.home-showcase__inner -->

                                                            </div><!-- /.container -->
                                                        </section>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Pages</a>
                                                <ul class="sub-menu">
                                                    <li><a href="about.html">About</a></li>
                                                    <li><a href="team.html">Our Team</a></li>
                                                    <li><a href="team-details.html">Team Details</a></li>
                                                    <li><a href="make-appointment.html">Make Appointment</a></li>
                                                    <li><a href="gallery.html">Gallery</a></li>
                                                    <li><a href="pricing-plans.html">Pricing Tables</a></li>
                                                    <li><a href="faq.html">Our Faqs</a></li>
                                                    <li><a href="login.html">Login</a></li>
                                                    <li><a href="404.html">404 Error</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Services</a>
                                                <ul class="sub-menu">
                                                    <li><a href="services.html">Services</a></li>
                                                    <li><a href="dating-relationship.html">Dating & Relationship</a>
                                                    </li>
                                                    <li><a href="self-esteem-issues.html">Self Esteem Issues</a></li>
                                                    <li><a href="family-psycology.html">Family Psycology</a></li>
                                                    <li><a href="career-counseling.html">Career Counseling</a></li>
                                                    <li><a href="anxiety-grief.html">Anxiety & Grief</a></li>
                                                    <li><a href="young-adult-intensive.html">Young & Adult Intensive</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Cases</a>
                                                <ul class="sub-menu">
                                                    <li><a href="cases-1.html">Cases One</a></li>
                                                    <li><a href="cases-2.html">Cases Two</a></li>
                                                    <li><a href="case-details.html">Case Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Shop</a>
                                                <ul class="sub-menu">
                                                    <li><a href="products.html">Products</a></li>
                                                    <li><a href="product-details.html">Product Details</a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Blog</a>
                                                <ul class="sub-menu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="expertsBlogs.html">Blog Sidebar</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="contact.html">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="main-menu__right">
                                        <div class="main-menu__call">
                                            <div class="main-menu__call-icon">
                                                <span class="icon-phone-call"></span>
                                            </div>
                                            <div class="main-menu__call-content">
                                                <p class="main-menu__call-sub-title">Have Question?</p>
                                                <h5 class="main-menu__call-number"><a href="tel:9288009850">+92 (8800) -
                                                        9850</a>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="main-menu__search-cart-box">
                                            <div class="main-menu__search-box">
                                                <a href="#"
                                                    class="main-menu__search search-toggler icon-magnifying-glass"></a>
                                            </div>
                                            <div class="main-menu__cart-box">
                                                <a href="cart.html" class="main-menu__cart icon-shopping-cart"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->


        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(../static/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Family Psycology</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>/</span></li>
                        <li><a href="services.html">Services</a></li>
                        <li><span>/</span></li>
                        <li>Family Psycology</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Services Details Start-->
        <div class="services-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="services-details__sidebar">
                            <div class="services-details__services-list">
                                <ul class="services-details__services list-unstyled">
                                    <li>
                                        <a href="dating-relationship.html">Dating & Relationship</a>
                                    </li>
                                    <li>
                                        <a href="self-esteem-issues.html">Self Esteem Issues</a>
                                    </li>
                                    <li class="active">
                                        <a href="family-psycology.html">Family Psycology</a>
                                    </li>
                                    <li>
                                        <a href="career-counseling.html">Career Counseling</a>
                                    </li>
                                    <li>
                                        <a href="anxiety-grief.html">Anxiety & Grief</a>
                                    </li>
                                    <li>
                                        <a href="young-adult-intensive.html">Young & Adult Intensive</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="banner-one">
                                <div class="banner-one__bg"
                                    style="background-image: url(../static/images/backgrounds/banner-one-bg.png);"></div>
                                <div class="banner-one__shape-1 float-bob-x">
                                    <img src="../static/images/shapes/banner-one-shape-1.png" alt="">
                                </div>
                                <h3 class="banner-one__title">Experiencing
                                    <br> Similar Problems
                                    <br> Contact us</h3>
                                <div class="banner-one__btn-box">
                                    <a href="contact.html" class="banner-one__btn thm-btn">Contact Now</a>
                                </div>
                            </div>
                            <div class="services-details__documents">
                                <ul class="services-details__documents-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-pdf-file"></span>
                                        </div>
                                        <div class="content">
                                            <h3><a href="#">Control Self Esteem</a></h3>
                                            <p>3.9KB</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-pdf-file"></span>
                                        </div>
                                        <div class="content">
                                            <h3><a href="#">How to Save Yourself</a></h3>
                                            <p>3.9KB</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="services-details__right">
                            <div class="services-details__img">
                                <img src="../static/images/services/services-details-img-3.jpg" alt="">
                            </div>
                            <h3 class="services-details__title-1">Family Psycology</h3>
                            <p class="services-details__text-1">There are many variations of passages of lorem ipsum is
                                simply free text available in the market, but the majority time you put aside to be in
                                our office. Lorem ipsum dolor sit amet, consectetLorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            <h3 class="services-details__title-2">Our therapies can improve your self esteem.</h3>
                            <p class="services-details__text-2">Ut enim ad minima veniam, quis nostrum exercitationem
                                ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                                autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                                consequatur.</p>
                            <h3 class="services-details__title-3">Our Therapy Process</h3>
                            <ul class="services-details__process list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="icon-form"></span>
                                        <div class="services-details__process-count"></div>
                                    </div>
                                    <h3>Book Appointment</h3>
                                    <p>Lorem ipsum proin gravida <br> nibh vel velit auctor <br> aliquet.</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-psychologist-2"></span>
                                        <div class="services-details__process-count"></div>
                                    </div>
                                    <h3>Therapy Sessions</h3>
                                    <p>Lorem ipsum proin gravida <br> nibh vel velit auctor <br> aliquet.</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-self-improvement"></span>
                                        <div class="services-details__process-count"></div>
                                    </div>
                                    <h3>Gain Confidence</h3>
                                    <p>Lorem ipsum proin gravida <br> nibh vel velit auctor <br> aliquet.</p>
                                </li>
                            </ul>
                            <div class="services-details__benefit">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="services-details__benefit-img">
                                            <img src="../static/images/services/services-details-benefit-img.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="services-details__benefit-content">
                                            <h3 class="services-details__benefit-title">Therapy Benefits</h3>
                                            <p class="services-details__benefit-text">Build a strong, happy, healthy and
                                                loving relationship</p>
                                            <ul class="services-details__benefit-points list-unstyled">
                                                <li>
                                                    <div class="icon">
                                                        <span class="fa fa-check"></span>
                                                    </div>
                                                    <div class="text">
                                                        <p>Problem solving and conflict resolution</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <span class="fa fa-check"></span>
                                                    </div>
                                                    <div class="text">
                                                        <p>Process underlying pain and anger</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <span class="fa fa-check"></span>
                                                    </div>
                                                    <div class="text">
                                                        <p>Repair your past hurts and issues</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <span class="fa fa-check"></span>
                                                    </div>
                                                    <div class="text">
                                                        <p>Rebuild your respect and trust</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="services-details__book">
                                <div class="services-details__book-img">
                                    <img src="../static/images/services/services-details-book-img.jpg" alt="">
                                </div>
                                <div class="services-details__book-shape-1">
                                    <img src="../static/images/shapes/services-details-book-shape-1.png" alt="">
                                </div>
                                <div class="services-details__book-top">
                                    <div class="icon">
                                        <span class="icon-phone-call"></span>
                                    </div>
                                    <div class="content">
                                        <p>Have Questions?</p>
                                        <h4><a href="tel:+926668880000">+92 (666) 888 0000</a></h4>
                                    </div>
                                </div>
                                <div class="services-details__book-title-and-btn">
                                    <h3 class="services-details__book-title">Book Your
                                        <br> Appointment Now</h3>
                                    <div class="services-details__book-btn-box">
                                        <a href="contact.html" class="services-details__book-btn thm-btn">Contact
                                            Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Services Details End-->

        <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer__shape-1 float-bob-y">
                <img src="../static/images/shapes/site-footer-shape-1.png" alt="">
            </div>
            <div class="site-footer__top">
                <div class="container">
                    <div class="site-footer__top-inner">
                        <div class="site-footer__top-left">
                            <div class="site-footer__top-icon">
                                <span class="icon-business-people"></span>
                            </div>
                            <div class="site-footer__top-content">
                                <h3>Psychology Timing: <span>Monday to Friday 8:00am - 6:00pm</span></h3>
                            </div>
                        </div>
                        <div class="site-footer__top-right">
                            <div class="site-footer__social-shape-1 float-bob-y">
                                <img src="../static/images/shapes/site-footer-social-shape.png" alt="" class="zoom-fade">
                            </div>
                            <div class="site-footer__social-title">
                                <p>Follow on:</p>
                            </div>
                            <div class="site-footer__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="site-footer__middle">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget__about">
                                <div class="footer-widget__logo">
                                    <a href="index.html"><img src="../static/images/resources/footer-logo.png" alt=""></a>
                                </div>
                                <p class="footer-widget__about-text">Best psychology & counseling to help you understand
                                    the problems.</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__link">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Explore</h3>
                                </div>
                                <ul class="footer-widget__link-list list-unstyled">
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="make-appointment.html">Book Appointment</a></li>
                                    <li><a href="blog.html">Latest News</a></li>
                                    <li><a href="team.html">Our Therapist</a></li>
                                    <li><a href="faq.html">Faqs</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__Contact">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Contact</h3>
                                </div>
                                <ul class="footer-widget__Contact-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-map-marker"></span>
                                        </div>
                                        <div class="text">
                                            <span>Visit Office</span>
                                            <p>66 Broklyn Gold Street. USA</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                        <div class="text">
                                            <span>Send Email</span>
                                            <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-phone-square"></span>
                                        </div>
                                        <div class="text">
                                            <span>Call Anytime</span>
                                            <p><a href="tel:+926668880000">+92 (666) 888 0000</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__column footer-widget__newsletter">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Newsletter</h3>
                                </div>
                                <p class="footer-widget__newsletter-text">Subscribe our newsletter to get latest updates
                                </p>
                                <form class="footer-widget__email-box" data-url="MC_FORM_URL">
                                    <div class="footer-widget__email-input-box">
                                        <input type="email" placeholder="Email address" name="email">
                                    </div>
                                    <button type="submit" class="footer-widget__subscribe-btn thm-btn">Register
                                        Yourself</button>
                                </form>
                                <div class="mc-form__response"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-footer__bottom-inner">
                                <p class="site-footer__bottom-text">© Copyright 2023 By <a href="http://www.bootstrapmb.com">Reserved</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="../static/images/resources/logo-2.png" width="135"
                                                                  alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@delogis.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-up-arrow"></i></a>


    <script src="../static/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="../static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendors/jarallax/jarallax.min.js"></script>
    <script src="../static/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="../static/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="../static/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="../static/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../static/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="../static/vendors/nouislider/nouislider.min.js"></script>
    <script src="../static/vendors/odometer/odometer.min.js"></script>
    <script src="../static/vendors/swiper/swiper.min.js"></script>
    <script src="../static/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="../static/vendors/wnumb/wNumb.min.js"></script>
    <script src="../static/vendors/wow/wow.js"></script>
    <script src="../static/vendors/isotope/isotope.js"></script>
    <script src="../static/vendors/countdown/countdown.min.js"></script>
    <script src="../static/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../static/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="../static/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="../static/vendors/vegas/vegas.min.js"></script>
    <script src="../static/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="../static/vendors/timepicker/timePicker.js"></script>
    <script src="../static/vendors/circleType/jquery.circleType.js"></script>
    <script src="../static/vendors/circleType/jquery.lettering.min.js"></script>




    <!-- template js -->
    <script src="../static/js/delogis.js"></script>
</body>

</html>