<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Login </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png"/>
    <link rel="manifest" href="../static/images/favicons/site.webmanifest"/>
    <meta name="description" content="delogis HTML 5 Template "/>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/vendors/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/vendors/animate/animate.min.css"/>
    <link rel="stylesheet" href="../static/vendors/animate/custom-animate.css"/>
    <link rel="stylesheet" href="../static/vendors/fontawesome/css/all.min.css"/>
    <link rel="stylesheet" href="../static/vendors/jarallax/jarallax.css"/>
    <link rel="stylesheet" href="../static/vendors/jquery-magnific-popup/jquery.magnific-popup.css"/>
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.min.css"/>
    <link rel="stylesheet" href="../static/vendors/nouislider/nouislider.pips.css"/>
    <link rel="stylesheet" href="../static/vendors/odometer/odometer.min.css"/>
    <link rel="stylesheet" href="../static/vendors/swiper/swiper.min.css"/>
    <link rel="stylesheet" href="../static/vendors/delogis-icons/style.css">
    <link rel="stylesheet" href="../static/vendors/tiny-slider/tiny-slider.min.css"/>
    <link rel="stylesheet" href="../static/vendors/reey-font/stylesheet.css"/>
    <link rel="stylesheet" href="../static/vendors/alagambe-font/stylesheet.css"/>
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../static/vendors/bxslider/jquery.bxslider.css"/>
    <link rel="stylesheet" href="../static/vendors/bootstrap-select/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="../static/vendors/vegas/vegas.min.css"/>
    <link rel="stylesheet" href="../static/vendors/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" href="../static/vendors/timepicker/timePicker.css"/>

    <!-- template styles -->
    <link rel="stylesheet" href="../static/css/delogis.css"/>
    <link rel="stylesheet" href="../static/css/delogis-responsive.css"/>
</head>

<body class="custom-cursor">

<div class="custom-cursor__cursor"></div>
<div class="custom-cursor__cursor-two"></div>


<div class="preloader">
    <div class="preloader__image"></div>
</div>
<!-- /.preloader -->


<div class="page-wrapper">
    {% include 'base_nav.html' %}

    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->


    <!--Page Header Start-->
    <section class="page-header">
        <div class="page-header-bg" style="background-image: url(../static/images/backgrounds/page-header-bg.jpg)">
        </div>
        <div class="container">
            <div class="page-header__inner">
                <h2>Login</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>/</span></li>
                    <li>Login</li>
                </ul>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <!--Login Page Start-->
    <section class="login-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="login-page__single">
                        <h3 class="login-page__title">Login</h3>

                        <div style="display: flex; justify-content: center;">
                            {% if get_flashed_messages() %}
                            {% set latest_message = get_flashed_messages()[-1] %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ latest_message }}
                            </div>
                            {% endif %}
                        </div>

                        <form id="login-page__form" class="login-page__form" method="post" action="/login">
                            {{ form.csrf_token }}
                            <input type="hidden" id="flash_message" name="flash_message"
                                   value="{{ get_flashed_messages()[0] }}">
                            <div class="login-page__form-input-box">
                                <input id="email" type="email" name="email" placeholder="Email *">
                            </div>
                            <div class="login-page__form-input-box">
                                <input id="password" type="password" name="password" placeholder="Password *">
                            </div>
                            <div class="checked-box">
                                <input type="checkbox" name="skipper2" id="skipper2" checked="">
                                <label for="skipper2"><span></span>Remember Me?</label>
                            </div>
                            <div class="login-page__form-btn-box">
                                <button type="submit" class="thm-btn login-page__form-btn" id="login-btn"
                                        style="width: 120%;">Login
                                </button>
                            </div>
                            <div class="login-page__form-btn-box">
                                <div>
                                    Don’t have an account?
                                </div>
                                <div class="login-page__form-forgot-password">
                                    <a href="/register">Register</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Login Page End-->

    {% include 'base_footer.html' %}


</div><!-- /.page-wrapper -->


<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

        <div class="logo-box">
            <a href="index.html" aria-label="logo image"><img src="../static/images/resources/logo-2.png" width="135"
                                                              alt=""/></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:needhelp@packageName__.com">needhelp@delogis.com</a>
            </li>
            <li>
                <i class="fa fa-phone-alt"></i>
                <a href="tel:666-888-0000">666 888 0000</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-pinterest-p"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->


    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->

<div class="search-popup">
    <div class="search-popup__overlay search-toggler"></div>
    <!-- /.search-popup__overlay -->
    <div class="search-popup__content">
        <form action="#">
            <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
            <input type="text" id="search" placeholder="Search Here..."/>
            <button type="submit" aria-label="search submit" class="thm-btn">
                <i class="icon-magnifying-glass"></i>
            </button>
        </form>
    </div>
    <!-- /.search-popup__content -->
</div>
<!-- /.search-popup -->

<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-up-arrow"></i></a>


<script src="../static/vendors/jquery/jquery-3.6.0.min.js"></script>
<script src="../static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/vendors/jarallax/jarallax.min.js"></script>
<script src="../static/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
<script src="../static/vendors/jquery-appear/jquery.appear.min.js"></script>
<script src="../static/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
<script src="../static/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="../static/vendors/jquery-validate/jquery.validate.min.js"></script>
<script src="../static/vendors/nouislider/nouislider.min.js"></script>
<script src="../static/vendors/odometer/odometer.min.js"></script>
<script src="../static/vendors/swiper/swiper.min.js"></script>
<script src="../static/vendors/tiny-slider/tiny-slider.min.js"></script>
<script src="../static/vendors/wnumb/wNumb.min.js"></script>
<script src="../static/vendors/wow/wow.js"></script>
<script src="../static/vendors/isotope/isotope.js"></script>
<script src="../static/vendors/countdown/countdown.min.js"></script>
<script src="../static/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../static/vendors/bxslider/jquery.bxslider.min.js"></script>
<script src="../static/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../static/vendors/vegas/vegas.min.js"></script>
<script src="../static/vendors/jquery-ui/jquery-ui.js"></script>
<script src="../static/vendors/timepicker/timePicker.js"></script>
<script src="../static/vendors/circleType/jquery.circleType.js"></script>
<script src="../static/vendors/circleType/jquery.lettering.min.js"></script>
<script src="{{ url_for('static', filename='js/myjs.js') }}"></script>


<!-- template js -->
<script src="../static/js/delogis.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", function () {

        var flashMessage = document.querySelector('.alert');


        if (flashMessage) {

            setTimeout(function () {
                flashMessage.style.display = 'none';
            }, 2000);
        }
    });
</script>


</body>

</html>