<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Audio</title>
</head>
<body>
    <h1>Tree Audio Recording</h1>
    <button id="start">Start Recording</button>
    <button id="stop" disabled>Stop Recording</button>
    <button id="play" disabled>Play Recording</button>
    <button id="upload" disabled>Submit Recording</button>

    <script>
        let mediaRecorder;
        let chunks = [];
        let audioChunks;

        navigator.mediaDevices.getUserMedia({ audio: true }).then(function (stream) {
            mediaRecorder = new MediaRecorder(stream);

            mediaRecorder.addEventListener("dataavailable", function (event) {
                chunks.push(event.data);
            });

            document.getElementById('start').addEventListener('click', () => {
                mediaRecorder.start();
                document.getElementById('stop').disabled = false;
                document.getElementById('start').disabled = true;
            });

            document.getElementById('stop').addEventListener('click', () => {
                mediaRecorder.stop();
                document.getElementById('start').disabled = false;
                document.getElementById('play').disabled = false;
                document.getElementById('upload').disabled = false;
            });

            audioChunks = [];
            mediaRecorder.ondataavailable = (event) => {
                audioChunks.push(event.data);
            };

            mediaRecorder.onstop = () => {
                const audioBlob = new Blob(audioChunks);
                const audioUrl = URL.createObjectURL(audioBlob);
                const audio = new Audio(audioUrl);
                document.getElementById('play').addEventListener('click', () => {
                    audio.play();
                });
            };
        });

        document.getElementById('upload').addEventListener('click', async () => {
            // 合并音频片段为一个完整的Blob对象
            const blob = new Blob(chunks, { type: 'audio/ogg; codecs=opus' });

            // 模拟上传，实际项目中应通过fetch或axios等发送POST请求至服务器
            const formData = new FormData();
            formData.append('file', blob, 'recording.ogg');
            alert('uploading')
            fetch('/sendtreeAudio', { method: 'POST', body: formData })
                .then((data) => {
                    console.log('Upload successful!');
                    window.location.href = '/services';
                })
                .catch(error => console.error('Error uploading:', error));
        });
    </script>
</body>
</html>
